html {
  scroll-behavior: smooth;
  font-family: "Kumbh Sans", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #19a2ae;
  background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.container__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24rem;
  width: 22rem;
  background-color: #fff;
  border-radius: 20px;
}

.container__wrapper__top {
  background-image: url("./images/bg-pattern-card.svg");
  position: absolute;
  height: 9rem;
  width: 22rem;
  bottom: 15rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container__wrapper__image {
  z-index: 1;
  border: 5px solid #fff;
  border-radius: 50%;
  margin-bottom: 6.4rem;
}

.container__wrapper__image img {
  border-radius: 50%;
}

.container__wrapper__middle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 13rem;
  width: 22rem;
  height: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #969696;
}

.container__wrapper__middle__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.container__wrapper__middle__content__name {
  width: 7rem;
  font-weight: 700;
  word-spacing: 4px;
  position: relative;
  font-size: 18px;
  right: 1rem;
}

.container__wrapper__middle__content__age {
  font-weight: 400;
  color: #969696;
  position: absolute;
  left: 14rem;
  font-size: 1.1rem;
}

.container__wrapper__middle__town {
  position: absolute;
  font-weight: 400;
  color: #969696;
  bottom: 50px;
  font-size: 0.8rem;
}

.container__wrapper__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(10px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 19rem;
  width: 22rem;
  height: 5rem;
}

.container__wrapper__bottom__item {
  text-align: center;
}

.container__wrapper__bottom__item__number {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
}

.container__wrapper__bottom__item__content {
  font-size: 0.6rem;
  color: #969696;
  letter-spacing: 0.1rem;
  padding-top: 0.8rem;
}
/*# sourceMappingURL=style.css.map */